<div>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
      <button type="button" class="close" aria-label="Close" (click)="CloseWindow(1)">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <!-- <form [formGroup]="obj">
        <div class="input-group">
          <span class="input-group-text">First and last name</span>
          <input formControlName="name" name="name" type="text" aria-label="First name" class="form-control">
        </div>
        <div class="input-group">
          <span class="input-group-text">First and last name</span>
          <input formControlName="email" type="text" aria-label="First name" class="form-control">
        </div>
        <div class="input-group">
          <span class="input-group-text">First and last name</span>
          <input formControlName="password" type="text" aria-label="First name" class="form-control">
        </div>
      </form> -->
    </div>
  
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Save click');">Ok</button>
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Save click')">Cancel</button>
    </div>
  </div>