<app-bread-crumbs #breadCrumbsComponent [item]="product"></app-bread-crumbs>
<div class="singleProduct">
    <div class="singleProductContainer">
        <img class="singleProductImg" src="data:image/jpg;base64, {{product.photoID}}">
        <div class="product-card-content">
            <p class="card-title">{{product.name}}</p>
            <p class="card-author">{{product.authorName}}</p>            
            <p class="card-description">{{product.description}}</p>
            <div class="genre-container">
                <p class="card-genre__header">Жанр:</p>
                <p class="card-genre__item">{{product.genre}}</p>
            </div>
            <div class="card-priceBuy-wrapper">
              <p class="card-price">{{product.price | number:'1.2'}} ₴</p>
              <button class="product-buy-btn" (click)="BuyProduct()">Купити</button>
            </div>
            
          </div>
    </div>
</div>

