.singleProductContainer {
    width: 1280px;
    display: flex;
    flex-direction: row;
}

.singleProductImg {
    width: 300px;
    height: 429px;
    margin-right: 64px;
}

.singleProduct {
    width: 100%;
    min-height: 600px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 91px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.product-text-title {
    font-size: 22px;
}

.card-title {
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
}

.card-author {
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 22px;
}

.card-description {
    color: #000;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 37px;
    height: 150px;
}

.card-priceBuy-wrapper {
    display: flex;
    flex-direction: row;

}

.card-price {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 111px;
}

.product-buy-btn {
    border-radius: 10px;
    background: #C57B57;
    width: 130px;
    height: 35px;
    color: #FFF;
    transition: 500ms;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}

.product-buy-btn:hover {
    transform: scale(1.1);
}

.card-genre__header {
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 88px;
}

.card-genre__item {
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.genre-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 26px;
}

mat-form-field {
    margin-right: 12px;
  }

