<!-- <div class="container center-registerForm">
      <p>{{ content }}</p>
  </div> -->

<div class="container-center">
    <div class="homeContainer">
        <div class="homeContainer-middle">
            <p class="homeContainer-middle-txt">Відкрийте cвіт cлова з Нами</p>
        </div>
    </div>
    <div class="options">
        <div class="options-card">
            <img src="../../../assets/images/home/car.svg" alt="" class="options-card-img">
            <div class="options-card-text">
                <p class="options-card-head">Швидка доставка</p>
                <p class="options-card-description">Ваші замовлення будуть у Вас в руках вже через 2 робочих дні</p>
            </div>
        </div>
        <div class="options-card">
            <img src="../../../assets/images/home/gift.svg" alt="" class="options-card-gift">
            <div>
                <p class="options-card-head">Подарок
                    за реєстрацію</p>
                <p class="options-card-description">Гарантований подарок до замовлення за реєстрацію</p>
            </div>
        </div>
        <div class="options-card">
            <img src="../../../assets/images/home/question.svg" alt="" class="options-card-img">
            <div>
                <p class="options-card-head">Підтримка 24/7</p>
                <p class="options-card-description">Допоможемо з вибором в будь який час </p>
            </div>
        </div>
        <div class="options-card">
            <img src="../../../assets/images/home/bill.svg" alt="" class="options-card-img">
            <div>
                <p class="options-card-head">Зручна оплата</p>
                <p class="options-card-description">Вибирайте зручний для себе спосіб оплати</p>
            </div>
        </div>
    </div>
    <p class="bestsellers-header">БЕСТСЕЛЕРИ</p>
    <div class="bestsellers">

        <owl-carousel-o [options]="customOptions" style="margin-bottom: 60px;">

            <ng-container *ngFor="let slide of products">
                <ng-template carouselSlide [id]="slide.id">
                    <div class="product-bigger">
                        <div class="product-card">
                            <img class="product-card-img" src="data:image/jpg;base64,{{slide.photoID}}">
                            <p class="product-title">{{slide.name}}</p>
                            <p class="product-author">{{slide.description}}</p>
                            <button class="product-buy">
                                <p [routerLink]="['/product',slide.id]" class="product-buy-text">Купити</p>
                            </button>        
                        </div>
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
        
    </div>

    <div class="moveToCatalog">
        <a  [routerLink]="['/product']" class="moveToCatalog-anchor" ><p class="moveToCatalog-text">ПЕРЕЙТИ ДО КАТАЛОГУ</p></a>
    </div>
    
    
</div>