.container-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 5800px;
}

.homeContainer {
    background-image: url(../../../assets/images/home/backgroundPhoto.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1280px;
    height: 698px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.homeContainer-middle {
    width: 686px;
    height: 348px;
    border-radius: 10px;
    background: rgba(175, 175, 175, 0.10);
    backdrop-filter: blur(7.5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeContainer-middle-txt {
    color: #F1E6D2;
    text-align: center;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.options {
    width: 1130px;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.options-card {
    width: 200px;
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 15px 3px rgba(0, 0, 0, 0.25);
}

.options-card-img {
    width: 100px;
    height: 100px;
    margin-top: 11px;
}

.options-card-gift {
    width: 61px;
    height: 61px;
    margin-top: 25px;
}

.options-card-head {
    color: #000;

    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.options-card-description {
    color: #000;
    width: 141px;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.options-card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bestsellers {
    width: 100%;
    height: 350px;
}

.product-bigger {
    height: 355px;
    box-sizing: border-box;
}

.bestsellers-header {
    color: #041F1E;
    text-align: center;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 40px;
    margin-top: 60px;
}

.product-card {
    width: 250px;
    height: 350px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(4, 31, 30, 0.48);
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
}

.product-card-img {
    width: 140px !important;
    height: 201px !important;
}

.product-title {
    color: #000;
    margin-top: 16px;
    margin-bottom: 4px;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product-author {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 14px;
}

.product-buy {
    width: 130px;
    height: 35px;
    border-radius: 10px;
    background: #C57B57;
    display: flex;

    justify-content: center;
    align-items: center;
}

.product-buy-text {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.moveToCatalog {
    margin-top: 60px;
    width: 302px;
    height: 52px;
    border-radius: 10px;
    background: #041F1E;

    display: flex;
    justify-content: center;
    align-items: center;


}

.moveToCatalog-anchor {
    text-decoration: none;
}

.moveToCatalog-text {
    color: #F1E6D2;
    text-align: center;
    align-items: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.myAdvertising-container {
    width: 1167px;
    height: 560px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;

    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.myAdvertising-header-text {
    width: 639.516px;
    height: 57.183px;
    color: #595959;
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 42px;
    margin-top: 52px;
}

.myAdvertising-text {
    width: 305.754px;
    height: 84.024px;
    color: #1E2D2F;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.small-oval {
    width: 890px;
    height: 393.596px;
    transform: rotate(-35deg);
    flex-shrink: 0;
    border-radius: 100%;
    background: #041F1E;
    translate: -404px -365px;
}

.circles-container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.medium-oval {
    width: 639px;
    height: 585px;
    border-radius: 100%;
    background: rgba(197, 123, 87, 0.80);
    translate: 0 250px;

}

.large-oval {
    width: 877px;
    height: 512px;
    transform: rotate(-35deg);
    border-radius: 100%;
    background: #1E2D2F;
    translate: 474px -806px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.large-oval-text {
    width: 367.605px;
    height: 182.052px;
    color: #D9D9D9;
    transform: rotate(35deg);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 128px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.medium-oval-arrow {
    translate: 180px 0;
}

.container-first-book {
    translate: 50px -50px;
}

.container-second-book {
    translate: -90px 90px;
}

.container-third-book {
    translate: -230px 230px;
}

.img-book-size{
    width: 163.38px;
    height: 234.567px;
    transform: rotate(35deg);
}
.small-oval-container{
display: flex;
justify-content: center;
padding-left: 550px;
}