<app-bread-crumbs [item]="'/product'"></app-bread-crumbs>

<div class="product-wrapper">
  <div class="product-center">
    <div class="product-menu">
      <a href="" class="product-menu-item">
        <p class="product-menu-item__text product-menu-item__text-active">Новинки</p>
      </a>
      <a href="" class="product-menu-item">
        <p class="product-menu-item__text">Популярне</p>
      </a>
      <a href="" class="product-menu-item">
        <p class="product-menu-item__text">Скоро буде</p>
      </a>
      <a href="" class="product-menu-item">
        <p class="product-menu-item__text">Екслюзив</p>
      </a>
    </div>
    <div class="filters-container">
      <div class="search-container">
        <div class="search-container-left">
          <input [(ngModel)]="searchFild" name="myVariableInput" type="text" class="search-container-right__input"
            placeholder="Введіть назву книги" (input)="onSearchChange()">
        </div>
        <div class="search-container-right">
          <img src="../../../assets/images/product/search.png" alt="" class="search-container-right__img">
        </div>
      </div>
      <div class="sort-container">
        <div class="sort-container-text">Сортувати за: </div>
        <div class="">
          <select [(ngModel)]="selectedSort" (change)="onSortChange($event)" class="sort-container-select" style="
            text-align: center;
            color: #595959 ;
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            padding-top: 15px;
            font-weight: 300;
            line-height: normal;">
            <option value="true">Ціною (від дешевшого)</option>
            <option value="false">Ціною (від дорожчого)</option>
          </select>
        </div>

      </div>
    </div>
    <div class="product-content">


      <div class="filter-container">
          <p class="filter-container-header">Жанри</p>
          <div>
            <div class="filter-container-item">
              <label class="product-chehkmark-container filter-container-item__text">Фантастика
                <input [(ngModel)]="inputFantasy" type="checkbox" (change)="OnGenreChange()">
                <span class="checkmark "></span>              
              </label>
            </div>
            <div class="filter-container-item">
              <label class="product-chehkmark-container filter-container-item__text">Класика
                <input [(ngModel)]="inputClassic" type="checkbox" (change)="OnGenreChange()">
                <span class="checkmark "></span>              
              </label>
            </div>
            <div class="filter-container-item">
              <label class="product-chehkmark-container filter-container-item__text">Комікси
                <input [(ngModel)]="inputComics" type="checkbox" (change)="OnGenreChange()">
                <span class="checkmark "></span>              
              </label>
            </div>
            <div class="filter-container-item">
              <label class="product-chehkmark-container filter-container-item__text">Трилери
                <input [(ngModel)]="inputThrillers" type="checkbox" (change)="OnGenreChange()">
                <span class="checkmark "></span>              
              </label>
            </div>
            <div class="filter-container-item">
              <label class="product-chehkmark-container filter-container-item__text">Поезія
                <input [(ngModel)]="inputPoetry" type="checkbox" (change)="OnGenreChange()">
                <span class="checkmark "></span>              
              </label>
            </div>
          </div>

      </div>

      <div class="product-container">
        <div class="product-card" *ngFor="let product of contentFiltered; let i = index">
          <div class="product-card-block">
            <div class="d-flex align-items-center justify-content-center product-card-img">
              <img class="product-img" src="data:image/jpg;base64, {{product.photoID}}">
            </div>
            <div class="product-card-content">
              <p class="card-title">{{product.name}}</p>
              <p class="card-author">{{product.authorName}}</p>
              <p class="card-description">{{product.description}}</p>
              <div class="card-priceBuy-wrapper">
                <p class="card-price">{{product.price | number:'1.2'}} ₴</p>
                <a href="#" [routerLink]="['/product',product.id]" class="product-buy-btn">Купити</a>
              </div>
              
            </div>
          </div>
        </div>
        <mat-paginator [length]="ProductSize"
        (page)="handlePageEvent($event)"
          [pageSize]="3"
          [hidePageSize]="true"
          [showFirstLastButtons]="false"
          [pageIndex]="0"
          aria-label="">
        </mat-paginator>
      </div>
     

    </div>
  </div>

</div>