<div class="product-container">
  <div class="product-card" *ngFor="let product of content; let i = index">
    <div class="product-card-bloc">
      <div class="d-flex align-items-center justify-content-center" style="width:100%"> 
        <img class="product-img" src="data:image/jpg;base64, {{product.photoID}}">
      </div>
      <div class="">
        <p class="card-title">{{product.name}}</p>
        <p class="card-text">{{product.price}} ₴</p>
        <a href="#" [routerLink]="['/product',product.id]" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div>
</div>