<div id="app">
  <nav class="bookstore-nav stickToTop">
    <ul class="bookstore-nav-left">
      <a href="/home" class="bookstore-nav-left-txt" routerLink="home">BOOKSTORE</a>
    </ul>
    <ul class="bookstore-nav-middle">
      <li>
        <a href="/home" class="bookstore-nav-middle-txt" routerLink="home">Головна</a>
      </li>
      <li  >  <!-- *ngIf="isLoggedIn" -->
        <a href="/product" class="bookstore-nav-middle-txt" routerLink="product">Каталог</a>
      </li>
      <li >   <!--*ngIf="showAdminBoard" -->
        <a href="/admin" class="bookstore-nav-middle-txt" routerLink="admin">Admin Board</a>
      </li>
      
    </ul>
    <ul class="bookstore-nav-right">
        <img src="../assets/images/basket.svg">
        <img src="../assets/images/like.svg">
        <div class="bookstore-nav-right-login">
          <a *ngIf="!isLoggedIn" href="/register" class="bookstore-nav-right-txt" routerLink="register">Sign Up</a>
          <a *ngIf="!isLoggedIn" href="/login" class="bookstore-nav-right-txt" routerLink="login">Login</a>
          <a *ngIf="isLoggedIn" href class="bookstore-nav-right-txt" [class.logined] = "isLoggedIn" (click)="logout()">LogOut</a>
        </div>
    </ul>
    <!-- <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a href="/product" class="nav-link" routerLink="product">Product </a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul> -->
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>