<div class="container">
  <div class="admin-content-info">
    <a href="UserContent" class="menuItems">User</a>
    <a href="ProductContent" class="menuItems">Product</a>
    <a href="BucketContent" class="menuItems">Bucket</a>
  </div>
  <div>
    <button *ngIf="UserFlag" type="button" class="btn btn-success m-2" (click)="openModal()">Add</button>
    <button *ngIf="ProductFlag" type="button" class="btn btn-success m-2" (click)="CreateProduct()">Add</button>
  </div>
 
  <table class="table table-borderless mb-0" style="text-align: center;">
    <thead>
      <tr *ngIf="UserFlag">
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <tr *ngIf="ProductFlag">
        <th>Name</th>
        <th>Created on</th>
        <th>Price</th>
        <th>Description</th>
        <th>Is Photo</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody *ngIf="UserFlag">
      <tr *ngFor="let user of content; let i = index">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.roles}}</td>
        <td style="text-align: center;"><img (click)="openModalUpdate(user.id)"
            src="../../../assets/images/pencil.png" class="action-img" alt=""></td>
        <td style="text-align: center;"><img (click)="DeleteElement(user.id)"
            src="../../../assets/images/icons8-trash.svg" class="action-img" alt=""></td>
      </tr>
    </tbody>
    <tbody *ngIf="ProductFlag">
      <tr *ngFor="let product of content; let i = index">
        <td>{{product.name}}</td>
        <td>{{product.createdOn}}</td>
        <td>{{product.price}}</td>
        <td>{{product.description}}</td>
        <td>{{product.photoID > ""}}</td>
        <td style="text-align: center;"><img (click)="UpdateProduct(product.id)"
          src="../../../assets/images/pencil.png" class="action-img" alt=""></td>
      <td style="text-align: center;"><img (click)="DeleteProduct(product.id)"
          src="../../../assets/images/icons8-trash.svg" class="action-img" alt=""></td>
      </tr>
    </tbody>
  </table>
</div>